.age-modal {
	background-image: url('../../../../uploads/2019/10/wbw-diamond.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 300px;
}
.wbw-home-head {
	min-height: 700px;
	width: 100%;
	background-image: url('../../../../uploads/2019/10/wbw-beginnings.jpg');
	background-position: 50% 50%;
	background-size: cover;
	border-bottom: 4px solid #b6a268;
	@include breakpoint (md) {
		min-height: 1000px;
	}
}
.v-waves-bg {
	background-image: url('../../../../uploads/2019/10/vertical-waves.png');
}
.wbw-beer-bg {
	height: 700px;
	width: 100%;
	background-image: url('../../../../uploads/2019/10/WBW-EE-Blue3.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 265px 265px;
	margin-bottom: -15px;
	@include breakpoint (sm) {
		background-size: 500px 500px;

	}
	@include breakpoint (md) {
		background-size: 400px 400px;
	}
	@include breakpoint (lg) {
		background-size: 500px 500px;
	}
}
.wbw-beer-bg::after {
	content:"\A";
	padding-top: 500px;
}
.wbw-footer {
	min-height: 300px;
	background: #1d547e;
	border-top: 4px solid #b6a268;
	padding-bottom: 0.2em;
}
.logo-img {
	padding-top: 170px;
}
.event-carousel-area {
	width: 100%;
	min-height: 200px;
	background: #ccc;
}
.mission {
	background: #1d547e;
	width: 100%;
	min-height: 300px;
	border-bottom: 4px solid #b6a268;
}
.kill-padding {
	 @extend %kill-padding;
}
.wbw-social {
	width: 100%;
	min-height: 250px;
	background: #b6a268;
	border-top: 4px solid #1d547e;
}
.new-release {
	width: 100%;
	min-height: 200px;
	background: #ccc;
	border-top: 2px solid #1d547e;
}
.on-tap {
	width: 100%;
	min-height: 400px;
	background: #ccc;
	padding-top: 130px;
}
.left-foot, 
.middle-foot, 
.right-foot {
  	min-height: 250px;
  	width: 100%;
}
.fadehover {
	position: relative;
}
.a {
	position: absolute;
	right: 0;
	padding-right: 15px;
	top: 0;
	margin-top: -8px;
	z-index: 10;
}	
.b {
	position: absolute;
	right: 0;
	padding-right: 15px;
	margin-top: -8px;
	top: 0;
}
.img-card {
	background: #b6a268;
}
.img-header-card {
	background: #1d547e;
	color: #b6a268;
}
.beers-template-default {
	padding-top: 111px;
}
