.age-modal {
	background-image: url('../../../../uploads/2019/11/wbw-diamond.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 300px;
}
.wbw-home-head1 {
	min-height: 700px;
	width: 100%;
	background-image: url('../../../../uploads/2020/01/wbw-beginnings-dark-scaled-cropped.jpg');
	background-position: 50% 50%;
	background-size: cover;
	border-bottom: 4px solid #b4a269;
	@include breakpoint (md) {
		min-height: 1000px;
	}
}
.wbw-home-head2 {
	min-height: 700px;
	width: 100%;
	background-image: url('../../../../uploads/2020/01/wbw-beginnings-light-scaled-1.jpg');
	background-position: 50% 50%;
	background-size: cover;
	border-bottom: 0px solid #b4a269;
	@include breakpoint (md) {
		min-height: 1000px;
	}
}
#homeHero {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  &#homeHero {
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
  }

  &.alignright {
    float: right;
    margin: 0 0 1em 1em;
  }

  &.alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.modal {
    overflow-y: auto;
    padding-right: 0px !important;
}
.modal-open {
    overflow: auto;
}
.modal-open[style] {
    padding-right: 0px !important;
} 
.modal-open > .wbw-navbar-solid {
	padding-right: 16px !important;
}
.modal-open > .wbw-navbar {
	padding-right: 16px !important;
}

.wbw-beer-bg::after {
	content:"\A";
	padding-top: 500px;
}
.wbw-footer {
	min-height: 300px;
	background: #1d547e;
	border-top: 4px solid #b4a269;
	padding-bottom: 0.2em;
}
.logo-img {
	padding-top: 170px;
	-webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.event-carousel-area {
	width: 100%;
	min-height: 200px;
	background: #ccc;
}
.mission {
	background: #1d547e;
	width: 100%;
	min-height: 300px;
	border-bottom: 4px solid #b4a269;
}
.kill-padding {
	 @extend %kill-padding;
}
.wbw-social {
	width: 100%;
	min-height: 250px;
	background: #b4a269;
}
.new-release {
	width: 100%;
	min-height: 200px;
	background: #ccc;
	border-top: 2px solid #1d547e;
}
.on-tap {
	width: 100%;
	min-height: 400px;
	background: #ccc;
	padding-top: 130px;
}
.left-foot, 
.middle-foot, 
.right-foot {
  	min-height: 250px;
  	width: 100%;
}
.fadehover {
	position: relative;
}
.a {
	position: absolute;
	right: 0;
	padding-right: 15px;
	top: 0;
	margin-top: -8px;
	z-index: 10;
}	
.b {
	position: absolute;
	right: 0;
	padding-right: 15px;
	margin-top: -8px;
	top: 0;
}
.img-card {
	background: #b4a269;
}
.img-header-card {
	background: #1d547e;
	color: #b4a269;
}
.beers-template-default,
.search-results,
.search-no-results {
	padding-top: 111px;
}
.beer-container,
.cider-container {
	min-height: 1000px;
}
.beer-header,
.cider-header {
	background: #1d547e;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom: 4px solid #b4a269;
	margin-top: 111px;
}
.page-header {
	background: #1d547e;
	background-image: url('../../../../uploads/2020/01/wilmington-brew-works-taproom-crowd.jpg');
	background-repeat: no-repeat;
	background-position:center center;
	border-bottom: 4px solid #b4a269;
	margin-top: 111px;
	min-height: 180px;
	padding-top: 5.4rem;
	color: #b4a269;
	@include breakpoint (md) {
		min-height: 250px;
	}
}
.beer-tags,
.cider-tags {
	background: #f8f9fa;
	font-size: 14px;
	a {
		color: #222;
		font-size: 14px;
	}
	a:hover {
		color: #b4a269;
	}
}
.tag-link a {
	color: #222;
	&:hover {
		color: #b4a269;
	}

}
.addthis-social {
	width: 100%;
	min-height: 50px;
	margin-top: 1rem;
	background: #f8f9fa;
}
.tag {
	padding-top: 111px;
}
.copyright {
	font-size: 12px;
}
.fa-footer {
	color: #b4a269 !important;
	&:hover {
		color: #ccc !important;
	} 
}
.video {
	border-top: 4px solid #1d547e;
	background: #b4a269;
}
.main-content-area {
	min-height: 1000px;
	background: #f8f9fa;
	padding-right: 15px;
	padding-left: 15px;
}
.contact {
	min-height: 200px;
	background: #b4a269;
	border-top: 4px solid #1d547e; 
}
.about-wbw {
	background: #b4a269;
	width: 100%;
	min-height: 200px;
	margin-top: -5px;
}
.pg-title {
	font-size: 2.5rem;
	margin-top: -40px;
	@include breakpoint (sm) {
		font-size: 3rem;
		margin-top: -22px;
	}
	@include breakpoint (md) {
		font-size: 3.5rem;
		margin-top: 0px;
	}
}
.feat-img {
	display: block;
	margin-top: 0px;
	overflow: visible;
	@include breakpoint (md) {
		position: relative;
		height: 350px;
		overflow: hidden;
		margin-bottom: 20px;
	}
}
.search-highlight {
	color: #1d547e ;
	text-decoration: underline;
}
#hero-img { 
	height: 420px;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	background-size: cover !important;
	background-repeat: no-repeat;
	@include breakpoint (md) {
		
	}
}
