.age-modal {
	background-image: url('../../../../uploads/2019/10/wbw-diamond.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 300px;
}
.wbw-home-head {
	min-height: 1000px;
	width: 100%;
	background-image: url('../../../../uploads/2019/10/wbw-beginnings.jpg');
	background-position: 50% 50%;
	background-size: cover;
}
.wbw-footer {
	min-height: 100px;
	background: #13426b;
	border-top: 4px solid #b6a268;
}
.logo-img {
	padding-top: 170px;
}
