html, body {
	background: #ccc;
	@extend %full-height-width;
}
body {
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}
a {
	outline: none;
	transition: 0.4s ease-in-out;
}
h1 {
	font-family: 'Unica One', cursive;
}
h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}


